#background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}
  
.background-color-red {
  background: #D47B7B;
}

.background-color-orange {
  background: #C77B51;
}

.background-color-yellow {
  background: #DAC57B;
}

.background-color-green {
  background: #A5DA7B;
}

.background-color-aqua {
  background: #7BCCD4;
}

.background-color-blue {
  background: #51B9C7;
}

.background-color-violet {
  background: #BC7BDA;
}

.background-color-pink {
  background: #D87BDA;
}

.background-color-default {
  background: white;
}