body {
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0%;
}

h1 {
  color: #254a5d;
}

/* .geolocation-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background: #dac57b;
} */

.geolocation-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 27px;
  color: white;
  margin-bottom: 200px;
}

.weather-icons {
  width: 100%;
  height: 200px;
}
