body {
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.HomePage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #7bccda 0%, rgba(255, 255, 255, 0) 100%), #c7518f;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.registerButons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  height: 80px;
  width: 100%;
}

.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146px;
  height: 48px;
  border-radius: 5px;
}

.auth-button__login {
  background: #254a5d;
  color: #ffffff;
}

.auth-button__signup {
  background: #ffffff;
  border: 1px solid #254a5d;
  color: #254a5d;
}

.link-decorate-login {
  text-decoration: none;
  color: #ffffff;
}

.link-decorate-signup {
  text-decoration: none;
  color: #254a5d;
}
